.header
    %h1{:class => 'header__content--title'} Welcome to My Diary App
    %p{:class => 'header__content--secondary'} The only diary app you need
    = link_to "Sign Up", new_user_registration_path, class: "button"
