/*
 *= require_self
 */

 /* ---- Color Variables ---- */

 $dark_pink: #f77b72;
 $light_pink: #ffd7c4;
 $dark_grey: rgba(black, 0.8);
 $light_grey: rgba(black, 0.7);

 @import "normalize.css.scss";
 @import "global.css.scss";
 @import "notes.css.scss";
 @import "welcome.css.scss";
 
