
$dark_pink: #f77b72;
$light_pink: #ffd7c4;


.navbar {
    width: 100%;
    height: 3rem;
    display: block;
    background-color: $light_pink;
}

.logo {
    font-size: 2rem;
}

a, .button {
    color: white;
    text-decoration: none;
}

